# For further information about options in this file see:
#   https://docs.mopidy.com/
#
# The initial commented out values reflect the defaults as of:
#   Mopidy 3.0.2
#   Mopidy-File 3.0.2
#   Mopidy-HTTP 3.0.2
#   Mopidy-M3U 3.0.2
#   Mopidy-MPD 3.0.0
#   Mopidy-MPRIS 3.0.2
#   Mopidy-SoftwareMixer 3.0.2
#   Mopidy-Spotify 4.0.1
#   Mopidy-Stream 3.0.2
#
# Available options and defaults might have changed since then,
# run `mopidy config` to see the current effective config and
# `mopidy --version` to check the current version.

[core]
cache_dir = ~/Data/mopidy/cache
config_dir = ~/Data/mopidy/config
data_dir = ~/Data/mopidy/data
max_tracklist_length = 10000
restore_state = true

[logging]
#verbosity = 0
#format = %(levelname)-8s %(asctime)s [%(process)d:%(threadName)s] %(name)s\n  %(message)s
#color = true
#config_file =

[audio]
#mixer = software
#mixer_volume = 
#output = autoaudiosink
#buffer_time = 

[proxy]
#scheme = 
#hostname = 
#port = 
#username = 
#password = 

[file]
enabled = true
media_dirs =
 ~/Data/FlacsAndMp3s/|Music
excluded_file_extensions =
 .directory
 .html
 .jpeg
 .jpg
 .log
 .nfo
 .pdf
 .png
 .txt
 .zip
show_dotfiles = false
follow_symlinks = false
metadata_timeout = 1000

[http]
#enabled = true
#hostname = 127.0.0.1
#port = 6680
#zeroconf = Mopidy HTTP server on $hostname
#allowed_origins = 
#csrf_protection = true
#default_app = mopidy

[m3u]
#enabled = true
#base_dir =
#default_encoding = latin-1
#default_extension = .m3u8
#playlists_dir =

[softwaremixer]
#enabled = true

[stream]
#enabled = true
#protocols = 
#  http
#  https
#  mms
#  rtmp
#  rtmps
#  rtsp
#metadata_blacklist = 
#timeout = 5000

[spotify]
enabled = true
username = <username>
password = <pass>
client_id = <id>
client_secret = <secret>
bitrate = 320
volume_normalization = true
private_session = false
timeout = 20
allow_cache = true
allow_network = true
allow_playlists = true
search_album_count = 50
search_artist_count = 10
search_track_count = 50
toplist_countries =

[mpris]
enabled = true
bus_type = session

[mpd]
enabled = true
hostname = 127.0.0.1
port = 6600
password =
max_connections = 20
connection_timeout = 60
zeroconf = Mopidy MPD server on $hostname
command_blacklist =
default_playlist_scheme = m3u
